<strong>Olá, {{ provider }}</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>
<p>
  <strong>Client:</strong> {{user}} <br />
  <string>Data/hora: </string> {{date}} <br />
  <br />
  <small>
    O horário novamente disponível para novos agendamentos.
  </small>
</p>
